<div class="small-search">
  <div class="rooms">
    <label for="rooms_count">Комнат</label><br/>
    <%= collection_select(:flat, :rooms_count, RoomCount.collection, :cut, :name, :prompt => true) %>
  </div>

  <div class="rent_period">
    <label for="rent_period">Срок аренды</label><br/>
    <%= collection_select(:flat, :rent_period, RentPeriod.collection, :cut, :name, :prompt => true) %>
  </div>

  <div class="prepayment">
    <label for="prepayment">Предоплата</label><br/>
    <%= collection_select(:flat, :prepayment, Prepayment.collection, :cut, :name, :prompt => true) %>
  </div>

  <div class="metro">
    <label for="metro">Метро</label><br/>
    <input type="text" name="metro" placeholder="Баррикадная" id="metro" value="">
  </div>

  <div class="address">
    <label for="address">Улица</label><br/>
    <input type="text" name="address" placeholder="" id="address" value="">
  </div>

  <div class="balkon">
    <label for="balkon">Балкон</label><br/>
    <%= collection_select(:flat, :balkon, Balkon.collection, :cut, :name, :prompt => true) %>
  </div>

  <div class="living_space">
    <label for="living_space">Площадь</label><br/>
    <input type="text" name="living_space" placeholder="" id="living_space" value="">
  </div>

  <div class="price">
    <label for="price">Цена</label><br/>
    <input type="text" name="price_from" id="price_from" placeholder="от" value="" size="6">
    <input type="text" name="price_to" id="price_to" placeholder="до" value="" size="6">
  </div>

  <br/>
  <input type="submit" value="Показать на карте" class="q-search-submit" onclick="searchResults()"></input>
  <br/>
  <input type="submit" value="Показать списком" class="q-search-submit" onclick="searchResultsList()"></input>
</div>

<script type="text/javascript">

    function validateAndGet(name, params) {

        if (name != "metro") {
            value = $("#" + name).val();
        } else {
            value = $("#" + name).attr("object_id");
        }

        if (value && value != "undefined" && value != "") {
            if (params != "") {
                params = params + "&" + name + "=" + value
            } else {
                params = name + "=" + value
            }
        }
        return params;
    }

    function searchResults() {
        var params = "";
        params = validateAndGet("flat_rooms_count", params);
        params = validateAndGet("flat_rent_period", params);
        params = validateAndGet("flat_prepayment", params);
        params = validateAndGet("metro", params);
        params = validateAndGet("address", params);
        params = validateAndGet("flat_balkon", params);
        params = validateAndGet("living_space", params);
        params = validateAndGet("price_from", params);
        params = validateAndGet("price_to", params);

        if (params != "") {
            $.get('/search.json/?' + params, function(newItemData) {
                Gmaps.map.replaceMarkers(newItemData);
            });
        }
    }
    function searchResultsList() {
        window.location = "/flats"
    }

    function split(val) {
        return val.split(/,\s*/);
    }

    function extractLast(term) {
        return split(term).pop();
    }

    $("#metro")
            .autocomplete({
                source:function (request, response) {
                    $.getJSON("/metros/by_metro", {
                        term:extractLast(request.term)
                    }, response);
                },
                search:function () {
                    var term = extractLast(this.value);
                    if (term.length < 2) {
                        return false;
                    }
                },
                select:function (event, ui) {
                    var terms = split(this.value);
                    terms.pop();
                    this.value = ui.item.value;
                    $(this).attr("object_name", ui.item.object);
                    $(this).attr("object_id", ui.item.id);
                    return false;
                }
            });

</script>