<div id="inner-content">
  <%= gmaps({
                    :map_options => {
                            :auto_zoom => true,
                            #:zoom => 13,
                            :auto_adjust => true
                            #"detect_location" => true,
                            #"center_on_user" => true
                    },
                    :markers => {
                            :data => @flats
                    }
            }) %>

  <%= render "search/small_search_map" %>
</div>

