<div id="inner-content" class="li-no-style">
  <%= title(t('imports.edit.title')) %>

  <%= render 'form' %>

  <%= link_to t('backend.actions.show'), @import %> |
  <%= link_to t('backend.actions.back'), imports_path %>
</div>