<table>
  <tr>
    <td>
      <p><%= link_to("Добавить новое изображение фона", new_welcome_image_path) if can?(:create, WelcomeImage) %></p>
    </td>
  </tr>
  <% @welcome_images.each do |welcome_image| %>
      <tr>
        <td><%= image_tag welcome_image.image.url(:list) %></td>
        <td><%= link_to("X", welcome_image, :confirm => t('backend.actions.are_you_sure'), :method => :delete) if can?(:destroy, welcome_image) %></td>
      </tr>
  <% end %>
</table>