<table class="flats flats-admin">

  <tbody>
  <tr>
    <th width="60%">Название</th>
    <th width="20%"></th>
    <th width="20%"></th>
  </tr>


  <tr>
    <td colspan="3">
      <center>
        <%= link_to "Создать спецпредложение", "/statics/new/special", :target => "_blank" if can?(:create, Static) %>
      </center>
    </td>
  </tr>


  <% @specials.each do |static| %>
      <tr>
        <td><%= link_to(static.title, static, :target => "_blank") if can?(:show, static) %></td>
        <td><%= link_to("Изменить", edit_static_path(static), :target => "_blank") if can?(:edit, static) %></td>
        <td><%= link_to("Удалить", static, :confirm => t('backend.actions.are_you_sure'), :method => :delete) if can?(:destroy, static) %></td>
      </tr>
  <% end unless @specials.nil? %>
  </tbody>
</table>