.flat-left {
    width: 440px;
    float: left;
    padding-right: 13px;

    .flat-big {
        padding-bottom: 13px;
    }

    a {
        img {
            padding: 0 5px 5px 0;
        }
    }

}

.flat-right {
    width: 470px;
    float: left;
}