#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.q-search {
  div {
    float: left;
  }
  .q-search-submit {
    -moz-border-radius: 3px 3px 3px 3px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border: 1px solid #000000;
    color: #FFFFFF;
    margin-right: 5px;
    width: 121px;
    height: 27px !important;

    font-size: 13px;
    font-weight: bold;
    line-height: 12px;

    text-transform: uppercase;
  }
  .q-search-submit:hover {
    color: #69A501;
  }
}

.container-left {
  width: 590px;
  float: left;
  padding-right: 20px;

  position: relative;
  z-index: 10000;

  .container-big {
    padding-bottom: 13px;
  }

  a {
    img {
      padding: 0 5px 5px 0;
    }
  }

}

.container-right {
  width: 290px;
  float: left;
  z-index: 10000;
  position: relative;
}

.small-search {
  z-index: 10000;
  cursor: pointer;
  position: fixed;
  width: 170px;
  height: 400px;
  bottom: 25px;
  right: 25px;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  padding: 21px;

  display: none;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);

  .q-search-submit {
    margin-top: 8px;
  }

  input, select {
    width: 169px;
    decoration: none;
    border: 1px solid #000;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-right: 5px;
  }
}

.full-search {
  position: absolute;
  top: 146px;
  left: 200px;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  padding: 21px;
  width: 960px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);

  input, select {
    width: 169px;
    decoration: none;
    border: 1px solid #000000;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #ffffff;
    margin-right: 5px;
  }
}
