#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul {
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}

form {
  padding-bottom: 55px;

  h2 {
    color: #7C7A78;
    padding-left: 20px;
    text-shadow: 1px 1px 1px #000000;
    font-size: 28px;
  }

}

.q-search {
  overflow: hidden;

  div {
    float: left;

    margin-right: 5px;

    input[type="number"] {
      width: 40px;
      background: -moz-linear-gradient(center top, #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
      border: 1px solid #BBBBBB !important;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
      color: #1F2122;
      cursor: default;
      display: inline-block;
      height: 21px;
      outline: medium none;
      padding: 2px 4px;
      font-size: 14px;
      text-align: left;
      text-decoration: none;
      vertical-align: middle;
    }

    input[type="text"] {
      max-width: 128px;
      min-width: 120px;
      background: -moz-linear-gradient(center top, #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
      border: 1px solid #BBBBBB !important;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
      color: #1F2122;
      cursor: default;
      display: inline-block;
      height: 21px;
      outline: medium none;
      padding: 2px 4px;
      font-size: 14px;
      text-align: left;
      text-decoration: none;
      vertical-align: middle;
    }

  }

  .q-search-submit {
    background: none repeat scroll 0 0 transparent;
    border: medium none white;
    box-shadow: none;
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
    border-bottom: 1px solid #B0CD7B !important;
    color: #1F2122;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    display: inline-block;
    padding: 0 5px 0 0 !important;
  }

  .q-search-submit:hover {
    border-bottom-color: transparent;
    color: #69A501;
    text-decoration: none !important;
  }

  .after-submit {
    color: #A6CE39;
    font-size: 18px;
    font-weight: 600;
    margin-left: -8px;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
  }

}

.container-left {
  width: 590px;
  float: left;
  padding-right: 20px;

  position: relative;
  z-index: 105;

  .container-big {
    padding-bottom: 13px;
    width: 580px;
    height: 395px;
    position: relative;
  }

  a {
    img {
      padding: 0 5px 5px 0;
    }
  }

}

.container-right {
  float: left;
  padding-bottom: 55px;
  position: relative;
  width: 350px;
  z-index: 105;

  div {
    margin-top: 10px;
  }
}

.small-search {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  top: 95px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  display: none;
  height: 450px;
  padding: 3px 21px 0 13px;
  position: fixed;
  left: 0;
  width: 170px;
  z-index: 21000;

  label {
    line-height: 20px;
    font-size: 15px;
  }

  .q-search-submit {
    background: none repeat scroll 0 0 transparent;
    border: medium none #FFFFFF !important;
    box-shadow: none;
    cursor: pointer;
    margin-top: 9px;
    outline: medium none;
    text-decoration: underline;
  }

  input, select {
    width: 169px;
    background: -moz-linear-gradient(center top, #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB !important;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #69A501;
    cursor: default;
    display: inline-block;
    height: 21px;
    outline: medium none;
    padding: 2px 4px;
    font-size: 14px;
  }
}

.full-search {
  position: absolute;
  top: 146px;
  left: 200px;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  padding: 21px;
  width: 960px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);

  input, select {
    width: 169px;
    decoration: none;
    border: 1px solid #000000;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #ffffff;
    margin-right: 5px;
  }
}

.field {
  display: table;
  margin-top: 8px;
}