.small-search {
    position: fixed;
    top: 146px;
    right: 5px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    padding: 21px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);

    .q-search-submit {
        margin-top: 8px;
    }

    input, select {
        width: 169px;
        decoration: none;
        border:  1px solid #000;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
        color: #fff;
        margin-right: 5px;
    }

}

.full-search {
    position: absolute;
    top: 146px;
    left: 200px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    padding: 21px;
    width: 960px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);

    input, select {
        width: 169px;
        decoration: none;
        border:  1px solid #000;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
        color: #fff;
        margin-right: 5px;
    }
}

