.selectBox-dropdown {
    background: -moz-linear-gradient(center top, #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB !important;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #69A501;
    cursor: default;
    display: inline-block;
    line-height: 1;
    min-width: 150px;
    outline: medium none;
    position: relative;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    font-size: 14px;
}

.selectBox-dropdown:focus, .selectBox-dropdown:focus .selectBox-arrow {
    border-color: #666666;
}

.selectBox-dropdown.selectBox-menuShowing {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectBox-dropdown .selectBox-label {
    display: inline-block;
    overflow: hidden;
    padding: 3px 5px;
    white-space: nowrap;
}

.selectBox-dropdown .selectBox-arrow {
    background: url("selectBox-arrow.gif") no-repeat scroll 50% center transparent;
    border-left: 1px solid #BBBBBB;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
}

.ui-autocomplete,
.selectBox-dropdown-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    min-height: 1em;
    overflow: auto;
    position: absolute;
    z-index: 99999;
    font-size: 14px;
}

.selectBox-inline {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    min-width: 150px;
    outline: medium none;
    overflow: auto;
}

.selectBox-inline:focus {
    border-color: #666666;
}

.selectBox-options, .selectBox-options LI, .selectBox-options LI A {
    cursor: default;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.selectBox-options LI A {
    background: none no-repeat scroll 6px center transparent;
    line-height: 1;
    overflow: hidden;
    padding: 0.3em;
    white-space: nowrap;
}

.selectBox-options LI.selectBox-hover A {
    background-color: #EEEEEE;
}

.selectBox-options LI.selectBox-disabled A {
    background-color: transparent;
    color: #888888;
}

.selectBox-options LI.selectBox-selected A {
    background-color: #C8DEF4;
}

.selectBox-options .selectBox-optgroup {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #666666;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 0.3em;
    white-space: nowrap;
}

.selectBox.selectBox-disabled {
    color: #888888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
    border-color: #666666;
    opacity: 0.5;
}

.selectBox-inline.selectBox-disabled {
    color: #888888 !important;
}

.selectBox-inline.selectBox-disabled .selectBox-options A {
    background-color: transparent !important;
}
