@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/OMD20Sg9RTs7sUORCEN-7YbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/kbP_6ONYVgE-bLa9ZRbvvvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/DZ_YjBPqZ88vcZCcIXm6VobN6UDyHWBl620a-IRfuBk.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    src: local("Ubuntu Light"), local("Ubuntu-Light"), url("http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_aijTyevf54tkVDLy-dlnD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url("http://themes.googleusercontent.com/static/fonts/ubuntumono/v3/ViZhet7Ak-LRXZMXzuAfkYbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}

body {
    color: #1F2122;
    font-family: Ubuntu, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("bg_dotted.png") repeat scroll 0 0 rgba(0, 0, 0, 1);
}

.g-clearfix {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    width: 100%;
}

a {
    color: #69A501;
}

a:active {
    outline: medium none;
}

:focus {
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: medium none;
}

img {
    border: medium none;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#Wrapper {
    background: url("bg_dotted.png") repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 100%;
}

#Header {
    background: none repeat scroll 0 0 #FFF;
    box-shadow: 0 2px 21px rgba(0, 0, 0, 0.5);
    height: 87px;
    margin: 0;
    padding: 10px 0 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-holder {
    margin: 0 auto;
    width: 960px;
    position: relative;
}

#Strip {
    float: right;
    font-size: 13px;
    overflow: hidden;
    width: 630px;
}

#Logo {
    float: left;
    height: 68px;
    margin: 0 auto;
    position: relative;
    width: 155px;
}

#Logo a {
    background: url("logo-no-bg-89.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 64px;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 89px;
}

#Logo .name {
    color: #7C7A78;
    font-size: 19px;
    font-weight: 600;
    left: 20px;
    position: absolute;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    top: 45px;
}

.strip-links {
    color: #7C7A78;
    float: right;
    line-height: 33px;
}

.strip-links p {
    display: inline;
}

.strip-links a {
    color: #7C7A78;
    display: block;
    float: left;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    margin-left: 21px;
    text-align: center;
    text-decoration: none;
}

.strip-links a span {
    color: #FFFFFF;
    display: none;
    line-height: 21px;
    opacity: 0.3;
    position: absolute;
    top: 32px;
}

.nav-item a span {
    color: #7C7A78;
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: right;
    text-shadow: none;
    text-transform: none;
    top: 0;
    white-space: nowrap;
    width: 450px;
}

.strip-links a:hover span, .nav-item a:hover span {
    display: block;
    background: none repeat scroll 0 0 #FFF;
    padding: 8px 0px;
}

.static-double-columns img {
    border: medium none;
    float: left;
    margin: 0 8px 8px 0;
}

.static-double-columns p a {
    float: none !important;
}

.strip-links a.last {
    border-right: medium none !important;
}

.strip-links a:hover {
    color: #69A501;
}

.search {
    border-left: 1px solid #38393A;
    border-right: 1px solid #38393A;
    float: right;
    height: 33px;
}

.drag-me {
    background: url("bg_dotted.png") repeat scroll 0 0 #000000;
    height: 14px;
    margin: 5px auto 0;
    width: 70px;
    cursor: move;

}

.search input.text {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #BCBDBD;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    padding-left: 15px;
}

.search input.submit {
    background: url("search-btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #1F2122;
    cursor: pointer;
    height: 33px;
    text-indent: 9999px;
    width: 44px;
}

#Login {
    color: #FFFFFF;
    float: right;
    font-size: 11px;
}

#Navigation {
    color: #FFFFFF;
    float: right;
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding-top: 12px;
    text-transform: uppercase;
    z-index: 99999;
}

#Navigation li {
    float: left;
}

#Navigation li a {
    color: #A6CE39;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 500;
    margin-left: 23px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}

#Navigation li:first-child a {
    margin-left: 0;
}

#Navigation a:hover {
    color: #7C7A78;
    text-shadow: 1px 1px 1px #000000;
}

#Navigation a.active {
    color: #7C7A78;
    text-shadow: 1px 1px 1px #000000;
}

#Navigation a.separator {
    padding: 43px 16px 43px 0;
}

#Body {
    overflow: visible;
    width: 100%;
}

#Content {
    margin: 30px auto;
    overflow: hidden;
    padding-bottom: 20px;
    width: 960px;
}

#Content ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#Content ul li a:after {
    color: #A6CE39;
    font-size: 18px;
    font-weight: 600;
    /*margin: 0 0 15px;*/
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    content: " ›";
}

.files li {
    background: none repeat scroll 0 0 transparent !important;
    display: block;
    float: left !important;
    margin-bottom: 13px;
    padding: 0 !important;
    width: 280px;
}

.li-no-style a {
    border: medium none;
    float: left !important;
}

.home #Body {
    width: 100%;
}

.home #Content {
    bottom: 50px;
    left: 50%;
    margin-bottom: 0;
    margin-left: -480px;
    margin-top: 0;
    min-height: inherit;
    position: absolute;
}

.home #Footer {
    bottom: 0;
    color: #FFFFFF;
    left: 50%;
    margin-left: -480px;
    position: fixed;
}

.home #Footer p {
    display: block;
    position: relative;
    z-index: 10000;
}

.home #Footer a {
    color: #000000;
    line-height: 14px;
}

.boxes .grid-4 {
    background: url("box-back2.png") no-repeat scroll left bottom transparent;
    font-size: 15px;
    padding-bottom: 8px;
}

.boxes .grid-4 .placeholder {
    background: url("box-back.png") no-repeat scroll left top transparent;
    height: 105px;
    overflow: hidden;
    padding: 15px 13px 20px 21px;
}

.boxes h3 {
    color: #A6CE39;
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 5px;
    text-align: left;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
}

.boxes h3 a {
    border: medium none;
    color: #A6CE39;
    font-weight: bold;
}

.boxes a {
    border-bottom: 1px solid #B0CD7B;
    color: #1F2122;
    line-height: 25px;
    text-decoration: none;
}

.boxes a:hover {
    border-bottom-color: transparent;
    color: #69A501;
}

.boxes small {
    color: #7C7A78;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    margin: 0 auto 5px;
}

.boxes .WidgetNews h4 {
    font-size: 14px;
    margin: 0;
}

.boxes ul {
    /*font-weight: bold;*/
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.slideshow {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 97px;
    z-index: -99;
}

.s1img {
    left: 0;
    top: 0;
}

#headertxt {
    display: none;
    left: 50%;
    margin-left: -480px;
    margin-top: -165px;
    position: absolute;
    text-align: right;
    top: 50%;
    width: 960px;
}

#firstline {
    float: right;
    height: 233px;
    overflow: hidden;
    width: 233px;
}

#firstline img {
    cursor: pointer;
}

/*.content {*/
/*margin: 0 auto;*/
/*position: relative;*/
/*top: 0;*/
/*width: 960px;*/
/*z-index: 1000;*/
/*}*/

.container a {
    color: #1F2122;
}

.toggler {
    height: 200px;
    position: relative;
    width: 500px;
}

.content .flat h1 span {
    color: #7C7A78;
    text-shadow: 1px 1px 1px #000000;
    padding: 3px;
}

.content .flat h2 {
    margin: 13px 0;

}

.content .flat h2 span {
    color: #7C7A78;
    text-shadow: 1px 1px 1px #000000;
    padding: 3px;
    margin-left: 17px;
    font-size: 21px;
}

.content .flat span {
    color: #000;
    background: #fff;
    padding: 3px;
}

h1 span {
    line-height: 41px;
}

#Footer span {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
}

#Footer span a {
    color: #000000;
}

#secondline {
    bottom: 60px;
    position: absolute;
    right: 55px;
}

#secondline a {
    background: url("headimg-btn.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 12px;
    margin: 0 2px;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 105px;
}

#secondline a:hover {
    color: #69A501;
}

#headernav {
    bottom: 10px;
    left: 50%;
    list-style: none outside none;
    margin: 0 0 0 -480px;
    padding: 0;
    position: absolute;
    z-index: 999;
}

#headernav a {
    background: url("dot.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 15px;
    margin-right: 4px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-indent: -9999px;
    width: 15px;
}

#headernav a.activeSlide {
    background: url("dot-active.png") no-repeat scroll 0 0 transparent;
}

#headernav a:focus {
    outline: medium none;
}

.gallery {
    width: 100%;
}

.gallery #headerimgs {
    top: 134px;
}

#Footer {
    clear: both;
    color: #8F9090;
    font-size: 13px;
    line-height: 17px;
    margin: 0 auto;
    text-align: right;
    width: 960px;
}

#Footer a {
    color: #8F9090;
}

#Footer p {
    float: right;
}

.home #Footer p.followus {
    display: none;
}

#Footer p.followus {
    float: left;
}

#Footer p.followus a {
    color: #1F2122;
    text-decoration: none;
}

#Footer p.followus a:hover {
    color: #69A501;
}

form input[type="text"], form input[type="number"], form input[type="email"], form input[type="password"] {
    border: 1px dashed #9C9C9C;
    font-size: 21px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    width: 100%;
}

form textarea {
    border: 1px dashed #D5D5D5;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 100%;
}

.rooms input, .price input {
    /*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);*/
    /*border: 1px solid #000000 !important;*/
    /*border-radius: 3px 3px 3px 3px;*/
    /*color: #FFFFFF;*/
    /*font-size: 17px !important;*/
    /*height: 27px !important;*/
    margin-bottom: 8px !important;
    width: 55px;

    /*width: 169px;*/
    background: -moz-linear-gradient(center top, #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB !important;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #69A501;
    cursor: default;
    display: inline-block;
    height: 21px;
    outline: medium none;
    padding: 2px 4px;
    font-size: 14px;

}

.rooms input {
    margin-right: 5px;
}

.metro input {
    background: -moz-linear-gradient(center top, #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB !important;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #69A501;
    cursor: default;
    display: inline-block;
    height: 21px;
    min-width: 150px;
    outline: medium none;
    padding: 2px 4px;
    position: relative;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}

.baloon-right {
    margin: 5px 0 3px;
    text-align: right;
}

.files a {
    padding: 0 8px 0 0;
}

.files {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.files-description {
    max-width: 180px;
}

.gallery-list img {
    padding: 5px 5px 0 0;
}

#inner-content h1 {
    color: #7C7A78;
    padding-left: 20px;
    text-shadow: 1px 1px 1px #000000;
}

#inner-content h1 small {
    color: #69A501;
    font-size: 14px;
    text-shadow: none;
    font-weight: 400;
    text-decoration: underline;
}

#inner-content, #Body .content {
    margin: 0 auto;
    padding-top: 97px;
    width: 960px;
}

#inner-content a {
    color: #69A501;
}

.content-left {
    float: left;
    padding-right: 20px;
    width: 690px;
}

.content-right h2 {
    margin: 0 0 5px;
    color: #7C7A78;
    text-shadow: 1px 1px 1px #000000;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
}

.content-right {
    float: left;
    margin-top: 75px;
    width: 250px;
}

.social-links {
    float: right;
    padding: 1px 0 0 8px;
}

table.users {
    width: 100%;
}

table.users th {
    height: 65px;
    text-align: left;
}

table.flats tr:nth-child(2n+1) {
    background-color: rgba(233, 233, 233, 0.8);
}

table.flats {
    padding-bottom: 55px;
    width: 100%;
}

table.flats center {
    line-height: 55px;
}

table.flats th {
    /*border-top: 1px solid #A6CE39;*/
    color: #7C7A78;
    font-size: 12px;
    height: 30px;
}

table.flats a {
    color: #1F2122;
}

table.flats img {
    margin: 5px;
}

table.flats-admin {
    text-align: left;
}

table.flats-admin th {
    padding-left: 5px;
    text-align: left;
}

#tabs table tr:nth-child(odd) {
    background-color: rgba(233, 233, 233, 0.8);
}

h1 small {
    float: right;
}

.ui-effects-transfer {
    border: 2px dashed #69A501;
    z-index: 11000;
}

.ui-effects-transfer-play {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
}

.ui-effects-transfer-hidden {
    height: 10px;
    left: 100px;
    position: absolute;
    top: 100px;
    width: 10px;
}

ul.admin-functions {
    background-color: rgba(255, 255, 255, 0.5);
    height: 34px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.admin-functions li a {
    text-decoration: none;
}

ul.admin-functions li {
    float: left;
    list-style: none outside none;
    padding: 8px 0 0 21px;
}

.field .selectBox {
    color: #69A501 !important;
}

.ui-tabs-hide {
    display: none;
}

.ui-tabs ul li {
    float: left;
}

.ui-tabs ul li a {
    padding: 3px 8px;
}

.order-welcome-info {
    float: right;
    list-style: none outside none;
    margin: 7px 0 0;
    padding: 0;
    text-align: right;
}

