body {
    font: 15px arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #1F2122;
    /*background-color: #CCCCCC;*/
    background: url("bgorder.png") repeat scroll 50% 50% #E6E6E6;
}

.g-clearfix {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    width: 100%;
}

a {
    color: #69A501;
}

a:active {
    outline: none;
}

:focus {
    -moz-outline-style: none;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

img {
    border: none;
}

h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/*Wrapper*/

#Wrapper {
    width: 100%;
    margin: 0 auto;
}

/*Header*/

#Header {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #7C7A78;
    height: 133px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 10005;
}

.header-holder {
    width: 960px;
    margin: 0 auto;
}

#Strip {
    font-size: 13px;
    width: 630px;
    overflow: hidden;
    float: right
}

#Logo {
    float: left;
    height: 100px;
    width: 216px;
    margin-top: 7px;
}

#Logo a {
    background: url("logo.png") no-repeat scroll center center transparent;
    display: block;
    height: 100px;
    text-indent: -9999px;
}

.strip-links {
    float: right;
    line-height: 33px;
    color: #7C7A78;
}

.strip-links p {
    display: inline;
}

.strip-links a {
    color: #7C7A78;
    display: block;
    float: left;
    /*font-weight: bold;*/
    height: 33px;
    line-height: 33px;
    margin-left: 21px;
    text-align: center;
    text-decoration: none;
}

.strip-links a span {
    display: none;
    /*border-top: 1px solid #38393A;*/
    color: #fff;
    line-height: 21px;
    opacity: 0.3;
    position: absolute;
    top: 32px;
    width: 100px;
}


.nav-item a span {
    display: none;
    /*border-top: 1px solid #38393A;*/
    color: #fff;
    line-height: 21px;
    opacity: 0.3;
    position: absolute;
    top: 19px;
    white-space: nowrap;
    /*width: 300px;*/
}

.strip-links a:hover span, .nav-item a:hover span {
    display: block;
}

.static-double-columns img {
    border: medium none;
    float: left;
    margin: 0 8px 8px 0;
}

.static-double-columns p a {
    float: none !important;
}

.strip-links a.last {
    border-right: none !important;
}

.strip-links a:hover {
    color: #69A501;
}

.search {
    height: 33px;
    float: right;
    border-left: 1px solid #38393A;
    border-right: 1px solid #38393A;
}

.search input.text {
    height: 33px;
    line-height: 33px;
    padding-left: 15px;
    color: #bcbdbd;
    font-weight: bold;
    border: none;
    background: none;
}

.search input.submit {
    width: 44px;
    height: 33px;
    text-indent: 9999px;
    cursor: pointer;
    border: none;
    color: #1F2122;
    background: url(search-btn.png) no-repeat;
}

#Login {
    color: #fff;
    float: right;
    font-size: 11px;
}

#Navigation {
    font: bold 13px Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
    margin: 4px -490px 0 0;
    padding: 0;
    float: right;
    list-style: none;
    color: #fff;
    right: 50%;
    bottom: 23px;
    position: absolute;
    z-index: 99999;
}

#Navigation li {
    float: left;
    margin-left: -14px;
}

#Navigation a {
    color: #7C7A78;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin-left: 34px;
    text-align: center;
    text-decoration: none;
}

#Navigation a:hover {
    color: #69A501;
}

#Navigation a.active {
    color: #69A501;
}

#Navigation a.separator {
    padding: 43px 16px 43px 0;
}

#Body {
    width: 100%;
    overflow: visible;
}

#Content {
    width: 960px;
    margin: 30px auto;
    overflow: hidden;
    padding-bottom: 20px;
}

#Content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#Content ul li {
    margin: 0;
    /*padding: 2px 0 2px 14px;*/
    background: url(arrow.png) no-repeat 0px 6px;
}

.li-no-style ul li {
    margin: 0;
    padding: 0 !important;
    background: none !important;
    float: left !important;
    max-width: 280px;
}

.li-no-style a {
    /*text-decoration: none !important;*/
    border: none;
    float: left !important;
}

.home #Body {
    width: 100%;
}

.home #Content {
    min-height: inherit;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -480px;
    left: 50%;
    position: absolute;
    bottom: 50px;
}

.home #Footer {
    /*position: absolute;*/
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -480px;
    color: #fff;
    /*z-index: 100000;*/
}

.home #Footer p {
    position: relative;
    display: block;
    z-index: 10000;
}


.home #Footer a {
    color: #000;
    line-height: 14px;
}

.boxes .grid-4 {
    font-size: 15px;
    padding-bottom: 8px;
    background: url(box-back2.png) no-repeat left bottom;
}

.boxes .grid-4 .placeholder {
    height: 105px;
    padding: 15px 13px 20px 21px;
    overflow: hidden;
    background: url(box-back.png) no-repeat left top;
}

.boxes h3 {
    font-size: 21px;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    color: #69A501;
}

.boxes h3 a {
    font-weight: bold;
    color: #69A501;
    border: none;
}

.boxes a {
    color: #1F2122;
    text-decoration: none;
    border-bottom: 1px solid #B0CD7B;
    line-height: 26px;
}

.boxes a:hover {
    color: #69A501;
    border-bottom-color: transparent;
}

.boxes .WidgetNews h4 {
    font-size: 15px;
    margin: 0;
}

.boxes ul {
    font-weight: bold;
    margin: 0;
    padding: 0;
    list-style: none;
}

.boxes ul li {
    padding-left: 13px;
    background: url(arrow.png) no-repeat left center;
}

.slideshow {
    position: absolute;
    top: 134px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -99;
}

.s1img {
    top: 0;
    left: 0;
}

#headertxt {
    width: 960px;
    left: 50%;
    top: 50%;
    margin-top: -165px;
    margin-left: -480px;
    text-align: right;
    position: absolute;
    display: none;
}

#firstline {
    width: 233px;
    height: 233px;
    float: right;
    overflow: hidden;
}

#firstline img {
    cursor: pointer;
}

.content {
    position: relative;
    top: 0;
    width: 900px;
    z-index: 10000;
    margin: 0 auto;
    /*margin: 134px auto;*/
}

.container {
    padding-top: 134px;
}

.container a {
    color: #1F2122;
}

.toggler { width: 500px; height: 200px; position: relative; }


.content .flat span {
    background-color: rgba(255,255,255,0.8);
    color: #000000;
    padding: 3px;
}

h1 span {
    line-height: 41px;
}

#Footer span {
    background-color: rgba(255,255,255,0.8);
    color: #000000;
}

#Footer span a {
    color: #000000;
}

#secondline {
    position: absolute;
    right: 55px;
    bottom: 60px;
}

#secondline a {
    font-size: 13px;
    font-weight: bold;
    width: 105px;
    float: left;
    margin: 0 2px;
    padding: 8px 0;
    line-height: 12px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: url(headimg-btn.png) no-repeat;
}

#secondline a:hover {
    color: #69A501;
}

#headernav {
    margin: 0 0 0 -480px;
    padding: 0;
    list-style: none;
    left: 50%;
    bottom: 10px;
    position: absolute;
    z-index: 999;
}

#headernav a {
    margin-right: 4px;
    padding: 0;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    text-align: center;
    text-indent: -9999px;
    background: url(dot.png) no-repeat;
    text-decoration: none;
}

#headernav a.activeSlide {
    background: url(dot-active.png) no-repeat;
}

#headernav a:focus {
    outline: none;
}

.gallery {
    width: 100%;

}

.gallery #headerimgs {
    top: 134px;
}

/*Footer*/

#Footer {
    font-size: 11px;
    font-weight: bold;
    width: 960px;
    clear: both;
    margin: 0 auto;
    text-align: right;
    color: #8F9090;
    /*	position:absolute;
     left:50%;
     bottom:0; */
}

#Footer a {
    color: #8F9090;
}

#Footer p {
    float: right;
}

.home #Footer p.followus {
    display: none;
}

#Footer p.followus {
    float: left;
}

#Footer p.followus a {
    color: #1F2122;
    text-decoration: none;
}

#Footer p.followus a:hover {
    color: #69A501;
}

form input[type="text"], form input[type="number"], form input[type="email"], form input[type="password"] {
    border: 1px dashed #9c9c9c;
    font-size: 21px;
    height: 34px;
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 100%;
    box-sizing: border-box;
}

form textarea {
    border: 1px dashed #D5D5D5;
    font-size: 21px;
    /*height: 34px;*/
    line-height: 28px;
    margin-bottom: 15px;
    padding: 0 5px;
    width: 100%;
    box-sizing: border-box;
}

.rooms input, .price input {
    width: 55px;
    font-size: 17px !important;
    height: 27px !important;
    decoration: none;
    border: 1px solid #000 !important;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 8px !important;

}

.rooms input {
    margin-right: 5px;
}

.metro input {
    font-size: 17px !important;
    width: 121px;
    decoration: none;
    border: 1px solid #000 !important;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-right: 5px;
    margin-bottom: 8px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 27px !important;
}

.baloon-right {
    margin: 5px 0 3px;
    text-align: right;
}

.files a {
    padding: 0 8px 0 0;
}

.files {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.files-description {
    max-width: 180px;
}

.gallery-list img {
    padding: 5px 5px 0 0;
}

#inner-content {
    margin: 0 auto;
    width: 960px;
    padding-top: 134px;
}

#inner-content a {
    color: #69A501;
}

.content-left {
    float: left;
    width: 690px;
    padding-right: 20px;
}

.content-right h2 {
    margin: 0 0 5px;
}

.content-right {
    float: left;
    width: 250px;
    margin-top: 75px;
}

.social-links {
    float: right;
    padding: 1px 0 0 8px;
}

table.users {
    width: 100%;

}

table.users th {
    height: 65px;
    text-align: left;
}

table.flats {
    width: 100%;
}

table.flats th {
    font-size: 0.7em;
    height: 30px;
}

table.flats a {
    color: #1F2122;
}

table.flats img {
    margin: 5px;
}

table.flats-admin {
    text-align: left;
}

table.flats-admin th{
    text-align: left;
    padding-left: 5px;
}

tr.even {
    background-color: rgba(255, 255, 255, 0.3)
}

tr.even-first {
    background-color: rgba(255, 255, 255, 0.5)
}

h1 small {
    float: right;
}

/* Following is required  to show border while transferring.*/
.ui-effects-transfer {
    border: 2px dashed #69A501;
    z-index: 11000;
}

.ui-effects-transfer-play {
    background: none;
    border: none;
    box-shadow: none;
}

.ui-effects-transfer-hidden {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 100px;
    left: 100px;
}

ul.admin-functions {
    height: 21px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.5);
}

ul.admin-functions li a {
    text-decoration: none;
}
ul.admin-functions li {
    list-style: none;
    float: left;
    padding: 8px 0 0 21px;
}

.field .selectBox {
    color: #69A501 !important;
}

.ui-tabs-hide {
    display: none;
}

.ui-tabs ul li {
    float: left;
}

.ui-tabs ul li a {
    padding: 3px 8px;
}