<div id="Header">
  <div class="header-holder">
    <div id="Logo"><a href="/">Classic Rent</a></div>
    <div id="Strip">
      <div class="strip-links">
        <p>
          <% @about_menu.each do |static| %>
              <%= link_to raw("#{static.title}<span>#{static.hover}</span>"), "/#{static.short_url}" %>
          <% end %>
        </p>
      </div>
    </div>
    <ul id="Navigation">
      <% @services_menu.each do |static| %>
          <li class="nav-item">
            <%= link_to raw("#{static.title}<span>#{static.hover}</span>"), "/#{static.short_url}", :class => ("active" if !@static.nil? && @static == static) %>
          </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Поиск", (controller_name != "flats" && controller_name != "search" ? "/search" : "#"), :id => "search-button", :class => "nav-item" %>
      </li>
    </ul>
  </div>
</div>