<H3>Найти</H3>

<form class="q-search" action="/search">
  <div class="rooms">
    <label for="flat_rooms_count">Комнат</label><br/>
    <input type="text" name="flat_rooms_count" placeholder="" value="" style="width:50px !important;box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;">
  </div>

  <div class="metro">
    <label for="metro">Метро</label><br/>
    <input type="text" name="metro" placeholder="" value="" id="metro" style="width:100px !important;box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;">
  </div>

  <div class="price">
    <label for="price">Цена</label><br/>
    <input type="text" name="price" placeholder="" value="" style="width:50px !important;box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;">
  </div>

  <center>
    <input type="submit" value="Показать" class="q-search-submit"></input>
  </center>
</form>

<script type="text/javascript">
    function split(val) {
        return val.split(/,\s*/);
    }
    function extractLast(term) {
        return split(term).pop();
    }

    $("#metro")
            .autocomplete({
                source: function(request, response) {
                    $.getJSON("/metros/by_metro", {
                        term: extractLast(request.term)
                    }, response);
                },
                search: function() {
                    var term = extractLast(this.value);
                    if (term.length < 2) {
                        return false;
                    }
                },
                select: function(event, ui) {
                    var terms = split(this.value);
                    terms.pop();
                    this.value = ui.item.value;
                    $(this).attr("object_name", ui.item.object);
                    $(this).attr("object_id", ui.item.id);
                    return false;
                }
            });
</script>