<H3>Найти</H3>

<form class="q-search" action="/search">
  <!--<form class="q-search" action="/search" method="POST">-->

  <div class="rooms">
    <label for="rooms">Комнат</label><br/>
    <input type="text" name="rooms" placeholder="3" value="">
  </div>

  <div class="metro">
    <label for="metro">Метро</label><br/>
    <input type="text" name="metro" placeholder="Баррикадная" value="" size="15">
  </div>

  <div class="price">
    <label for="price">Цена</label><br/>
    <input type="text" name="price" placeholder="50000" value="" size="6">
  </div>

  <center>
    <input type="submit" value="Показать" class="q-search-submit"></input>
  </center>
</form>