<H3>Найти самостоятельно</H3>
<small>Обозначив основные критерии, продолжайте поиск учитывая нюансы</small>

<form class="q-search" action="/search">

  <div class="rooms">
    <input type="number" name="flat_rooms_count" placeholder="комнат" value="" id="rooms_count">
  </div>

  <div class="metro">
    <input type="text" name="metro" placeholder="метро" value="" id="metro">
  </div>

  <div class="price">
    <input type="number" name="price" placeholder="руб" value="" id="price">
  </div>

  <input type="submit" value="Показать" class="q-search-submit"><span class="after-submit"> ›</span>

</form>

<script type="text/javascript">
    function split(val) {
        return val.split(/,\s*/);
    }
    function extractLast(term) {
        return split(term).pop();
    }

    $("#metro")
            .autocomplete({
                source:function (request, response) {
                    $.getJSON("/metros/by_metro", {
                        term:extractLast(request.term)
                    }, response);
                },
                search:function () {
                    var term = extractLast(this.value);
                    if (term.length < 2) {
                        return false;
                    }
                },
                select:function (event, ui) {
                    var terms = split(this.value);
                    terms.pop();
                    this.value = ui.item.value;
                    $(this).attr("object_name", ui.item.object);
                    $(this).attr("object_id", ui.item.id);
                    return false;
                }
            });
</script>